* {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1p', sans-serif;

}

header, footer {
/* グラデーション */
background: #DAE2F8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    padding: 20px 70px;

}
header .headline{
    font-size: 32px;
}
.gnav {
    display: inline-block;
    padding-top: 20px;
    margin-left: 200px;
    text-align: center;
    margin-top: 5px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:780px){
    .menu li img {
        display: none;
    }
}
.menu li {
    width: calc(100%/3);
    padding: 0 50px;
    box-sizing: border-box;
}
.menu li img {
    height: 50px;
    width: 50px;
    max-width: 100px;
    height: auto;
}
.header-right {
    margin: 0 0 0 auto;
    float: right;
}

button {
    border-radius: 10%;
    width: 70px;
    height: 30px;
}

button:hover {
    background-color: #DCC2FF;
}

input.form-control {
    height: 30px;
    border-radius: 5px;
}

.main h1 {
    font-size: 70px;
    color: #333333;
    font-family: 'Dancing Script', cursive;
}
.main p {
    margin-top: 10px;
    color: #333333;
}

/* メインコンテンツ */
body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
}

h2 {
    color: #333333;

}

h2.new_article {
    margin-top: 10px;
}

p {
    font-size: 15px;
    font-weight: lighter;
}
h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bolder;
}
.new_article .recom_article {
    display: inline-block;
}
.thumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: 150px;
}
.thumbs .thumb {
    display: inline-block;
    height: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 300px;
}

@media screen and (max-width:780px) {
    .thumbs .thumb {
        display: inline-block;
        height: 100px;
        margin-right: 7.5px;
        margin-bottom: 7.5px;
        width: 150px;
    }
}

.thumbs .thumb img {
    margin-top: 15px;
    height: 100%;
    margin-bottom: 5px;
}
.readmore a.button {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    line-height: 14px;
    font-size: 14px;
    width: 160px;
    margin: 0 auto;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    border-radius: 5%;
  }

.readmore a.button:hover {
    background-color: #D6A4A4;
}  

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}
/* フッター */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70px;   
}
.instalogo {
    width: 50px;
    height: 50px;
    margin: 25px;
}
.twlogo {
    width: 50px;
    height: 50px;
}
.info li {
    float: left;
    margin: 20px;
    font-size: 15px;   
}
.info li a {
    text-decoration: none;
    color:#333333;
}
